extends page

block header
	header
		h1.bundel= tag
		- post = bundels[tag]
		.meta.compact
			include meta/door
			include meta/datum

block pages
	- counter = pagination.files[0].counter
	- bundel = bundels[tag]
	for deel in pagination.files
		h2.bundel
			a.basic(href="/" + deel.path)= (counter ? deel.deel + ". " : "") + (deel.titel || "")
		| !{deel.article}